
body { 
margin: 0;
padding: 0;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-image: url('./img/IMG_6692.JPG');
background-size: cover;
background-position: center center;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
position: relative;
color: white;
text-align: center;
background-repeat: no-repeat;
background-attachment: fixed;
}


.overlay {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
z-index: 0;
}


.container {
position: fixed;
z-index: 1;
background: rgba(255, 255, 255, 0.1);
border-radius: 12px;
box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
padding: 20px;
}


h1 {
font-size: 2.5rem;
margin-bottom: 20px;
}


.button {
  display: inline-block;
  background-color: #ffb6c1;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #ff8fa3;
}

.filgran-text {
margin-bottom: 300px;
color: white;
position: relative;
}



/* Mobile responsiveness */
@media (max-width: 600px) {
 body {
    background-attachment: scroll; /* mobile browsers ignore fixed, so this prevents flickering */
    background-position: center center;
    background-size: cover;
  }
  h1 {
font-size: 1.8rem;
}
button {
width: 100%;
padding: 12px 0;
}
.container {
width: 90%;
}
}